cmake-build-debug*
*~
!*.*
!*/
*Makefile*
dconfig-tmp
game
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
game.cbp
.idea
a.out
suppressions.txt
suppressions.txt~
.#.*
example.txt~
Game.cpp~
bin/
build/
*.o
*.aux
*.fdb_latexmk
*.pdf
*.fls
*.log
