cmake-build-debug*
*~

*
!*.*
!*/
!Makefile

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
game.cbp
.idea
a.out
suppressions.txt
suppressions.txt~
.#.*
example.txt~
Game.cpp~
html/
latex/

bin/
build/
*.o
*.aux
*.fdb_latexmk
*.pdf
*.fls
*.log
